################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PriyoShop38/.vs/PriyoshopNop38/v15/Server/sqlite3
